---
# Default home page with boxes providing collection stats
layout: page
---
<div class="row">

  <div class="col-md-8">

    {% include index/description.html %}

        {% include index/time.html %}

  
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}



  </div>
  <div class="col-md-12">

    {% include index/featured-terms.html field="subject" title="Top Genre" btn-color="primary" %}
        {% include index/featured-terms.html field="theatre-name" title="Theatre" btn-color="primary" %}
            {% include index/featured-terms.html field="playwright" title="Theatre" btn-color="primary" %}



    {% include index/data-download.html %}


  </div>
  
</div>
